ConnectionStrings__GoldDb=Server=host.docker.internal;Port=3306;Database=assets;User ID=YOUR_USER;Password=YOUR_PASSWORD;MinimumPoolSize=0;MaximumPoolSize=4;ConnectionTimeout=5;DefaultCommandTimeout=5;
Gold__Enabled=true
Gold__Api__BaseUrl=https://api.gold-api.com/
Gold__Api__TimeoutMs=5000
Gold__ExchangeRate__Default=7.25
Collector__Cron=0 0/1 * * * ?
